<div class="page-wrapper">
	<!-- header index -->
	<app-header></app-header>
	<!-- header index -->

    <div class="home_page_wrapper inner_pages_wrapper">
    	<section class="cors_sec">
			<div class="custom_container">
				<!-- Price table section start -->
		        <div id="cors_id" class="standard-section section-gray">
		            <div class="container">
		            	<div class="login_head text-center">
                                <h2>Choose Subscriptions</h2>
                                <p class="divider"><img src="assets/img/secdivider.png" class="img-fluid" alt="divider"></p>
                            </div>
		                <div class="row">
		                    <div class="col-sm-12">
		                        <div class="course_tables">
		                            <div class="single_cors bg_sky wow fadeInRight" data-wow-delay=".2s">
		                                <div class="cors_head">
		                                    <h2 class="cors_title">$750</h2>
		                                    <p>No recurring charges</p>
		                                </div>
		                                <div class="cors_body">
		                                    <p>Basic</p>
		                                    <ul class="cors_list" type="none">
		                                        <li><i class="fa fa-check"></i>500 sessions</li>
		                                        <li><i class="fa fa-check"></i>Unlimited Calling</li>
		                                        <li><i class="fa fa-check"></i>Best Teachers around you</li>
		                                        <li><i class="fa fa-check"></i>Real Native Speakers</li>
		                                    </ul>
		                                </div>
		                                <div class="cors_footer">
		                                    <a href="javascript:void(0);" class="btn btn_theme" data-animation="fadeInLeft" data-delay="900ms" (click)="buyPlan()">Buy Plan <i class="fa fa-long-arrow-alt-right"></i></a>
		                                </div>
		                            </div>

		                            <div class="single_cors bg_org wow fadeIn" data-wow-delay=".3s">
		                                <div class="cors_head">
		                                    <h2 class="cors_title">$575</h2>
		                                    <p>Monthly</p>
		                                </div>
		                                <div class="cors_body">
		                                    <p>Silver</p>
		                                    <ul class="cors_list" type="none">
		                                    	<li><i class="fa fa-check"></i>500 sessions</li>
		                                        <li><i class="fa fa-check"></i>Unlimited Calling</li>
		                                        <li><i class="fa fa-check"></i>Best Teachers around you</li>
		                                        <li><i class="fa fa-check"></i>Real Native Speakers</li>
		                                    </ul>
		                                </div>
		                                <div class="cors_footer">
		                                    <a href="javascript:void(0);" class="btn btn_theme" data-animation="fadeInLeft" data-delay="900ms" (click)="buyPlan()">Buy Plan <i class="fa fa-long-arrow-alt-right"></i></a>
		                                </div>
		                            </div>

		                            <div class="single_cors bg_purp wow fadeIn" data-wow-delay=".3s">
		                                <div class="cors_head">
		                                    <h2 class="cors_title">$1200</h2>
		                                    <p>Monthly</p>
		                                </div>
		                                <div class="cors_body">
		                                    <p>Gold</p>
		                                    <ul class="cors_list" type="none">
		                                    	<li><i class="fa fa-check"></i>1000 sessions</li>
		                                        <li><i class="fa fa-check"></i>Unlimited Calling</li>
		                                        <li><i class="fa fa-check"></i>Best Teachers around you</li>
		                                        <li><i class="fa fa-check"></i>Real Native Speakers</li>
		                                    </ul>
		                                </div>
		                                <div class="cors_footer">
		                                    <button class="btn btn_theme" data-animation="fadeInLeft" data-delay="900ms" >Buy Plan </button>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!-- Price table section end -->
			</div>
		</section>

    	<!-- Footer section -->
    	<app-footer></app-footer>
    	<!-- Footer section -->
    </div>
</div>