.pd-r{
	padding-right: 0px;
}
.pd-l{
	padding-left: 0px;
}
.img-wrap img{
	width: 100%;
    height: 555px;
    object-fit:cover;
}
.wrap-txt{
	margin: 35px;
    padding: 5px;
}
.hdr{
	display: inline-block;
	position: relative;
}
.hdr::after{
	    content: "";
    position: absolute;
    top: 60px;
    left: 59px;
    width: 60px;
    height: 3px;
    background: #fff;
    z-index: 1;
}
.hdr::before{
	content: "";
    position: absolute;
    top: 72px;
    left: 39px;
    width: 100px;
    height: 3px;
    background: #fff;
    z-index: 1;
}
.col-cstm{
	background: #33348e;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}