<div class="page-wrapper">
	<!-- header index -->
	<app-db-header></app-db-header>
	<!-- header index -->

  <div class="home_page_wrapper dashboard_wrapper">
   <section class="db_sec_comon prof_sec">
     <div class="custom_container">
      <div class="wrap_dash_sec tran_crdt_page"> <!-- page classes -->
        <div class="row"> 
          <div class="col-sm-3">
            <div class="sidebar_wrap card_shd">
              <!--  -->
              <app-db-sidebar></app-db-sidebar>
              <!--  -->
            </div>
          </div>
          <div class="col-sm-9">
            <div class="mainside_wrap">
              <!--  -->
              <div class="page_head">
                <h4>Change Password</h4>
                <h6>Lorem ipsum dolor sit amet, consectetur do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
              </div>
              <div class="main_cntnt_dash">
                <div class="card_shd cnt_skamper">
                  <!--  -->
                  <div class="cont_shd_frm">
                    <div class="row">
                      <div class="col-sm-10 offset-1">
                        <form [formGroup]="complexForm">
                          <div class="row">
                            <label class="col-sm-4">Current Password</label>
                            <div class="col-sm-8">
                              <div class="form-group">
                                <input type="password" [(ngModel)]="reqData.old_password" [formControl]="complexForm.controls['old_password']" class="form-control" placeholder="Current Password">
                                <p style="color: #E80358"  *ngIf="!complexForm.controls['old_password'].valid  && ( complexForm.controls['old_password'].touched)" >Please provide valid Password [Minimum 8 Character]</p>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <label class="col-sm-4">New Password</label>
                            <div class="col-sm-8">
                              <div class="form-group">
                                <input type="password" [(ngModel)]="reqData.new_password" [formControl]="complexForm.controls['new_password']" class="form-control" placeholder="New Password">
                                <p style="color: #E80358"  *ngIf="!complexForm.controls['new_password'].valid  && ( complexForm.controls['new_password'].touched)" >Please provide valid Password [Minimum 8 Character]</p>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <label class="col-sm-4">Confirm New Password</label>
                            <div class="col-sm-8">
                              <div class="form-group">
                                <input type="password" [(ngModel)]="reqData.confirm_password" [formControl]="complexForm.controls['confirm_password']" class="form-control" placeholder="Confirm New Password" (keyup)="onKey($event)">
                                <p style="color: #E80358"  *ngIf="p_false" >Please provide valid Confirm Password</p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="text-right log_btn">
                              <button [disabled]="!complexForm.valid || p_false" class="btn btn_theme" (click)="changePassword()" >Update Password</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!--  -->
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer section -->
  <app-footer></app-footer>
  <!-- Footer section -->
</div>
</div>