<div class="page-wrapper">
    <!-- header index -->
    <app-header></app-header>
    <!-- header index -->

    <div class="home_page_wrapper inner_pages_wrapper">
        <section class="register_sec user_mobile">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2">
                        <div class="wrp_white">
                            <div class="login_head text-center">
                                <h2>Register </h2>
                                <p class="divider"><img src="assets/img/secdivider.png" class="img-fluid" alt="divider">
                                </p>
                            </div>
                            <div class="form_head">
                                <div class="text-center logo_login">
                                    <img src="assets/img/logo.png" class="img-fluid">
                                </div>
                                <!-- <h5 class="text-center">Enter your Valid Mobile Number</h5> -->
                                <form [formGroup]="complexForm" autocomplete="off">
                                    <input autocomplete="false" name="hidden" type="text" style="display:none;">
                                    <div class="form-group">
                                        <label>Organization Name <sup>*</sup></label>
                                        <input type="text" [(ngModel)]="reqData.organizationName"
                                            [formControl]="complexForm.controls['organizationName']"
                                            class="form-control" placeholder="Organization Name">
                                        <p style="color: #E80358"
                                            *ngIf="!complexForm.controls['organizationName'].valid  && ( complexForm.controls['organizationName'].touched)">
                                            Please provide valid Organization Name</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Email Address <sup>*</sup></label>
                                        <input style="display:none">
                                        <input type="text" [(ngModel)]="reqData.email"
                                            [formControl]="complexForm.controls['email']" class="form-control"
                                            placeholder="Email Address">
                                        <p style="color: #E80358"
                                            *ngIf="!complexForm.controls['email'].valid  && ( complexForm.controls['email'].touched)">
                                            Please provide valid Email ID</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Mobile Number <sup>*</sup></label>

                                        <ngx-intl-tel-input [cssClass]="'form-control'"
                                            autocomplete="aqwedeed"
                                            [preferredCountries]="[CountryISO.UnitedStates, CountryISO.UnitedKingdom]"
                                            [separateDialCode]="true" [enableAutoCountrySelect]="false"
                                            [enablePlaceholder]="true" [searchCountryFlag]="true"
                                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                            [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India"
                                            [maxLength]="10" [tooltipField]="TooltipLabel.Name" [phoneValidation]="true"
                                            id="my-input-id" [(ngModel)]="reqData.phone"
                                            [formControl]="complexForm.controls['phone']">
                                        </ngx-intl-tel-input>
                                        <!--input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" pattern="[0-9.]+" [(ngModel)]="reqData.phone" [formControl]="complexForm.controls['phone']" class="form-control" placeholder="Mobile Number"-->
                                        <p style="color: #E80358"
                                            *ngIf="!complexForm.controls['phone'].valid  && ( complexForm.controls['phone'].touched)">
                                            Please provide valid Mobile Number</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="field3">Password <sup>*</sup></label>
                                        <input type="password" id="field3" [(ngModel)]="reqData.password"
                                            [formControl]="complexForm.controls['password']" class="form-control"
                                            placeholder="Enter Password" (input)="checkPassword(reqData.password)">
                                    <!--     <p style="color: #E80358"
                                            *ngIf="p_false || !lowerCase || !specialCase || !upperCase || !lengthCase || !numberCase">
                                            Please provide valid Password</p> -->

                                        <div class="instruction-ul">
                                            <ul>
                                                <li [ngClass]="(lowerCase==true) ? 'passed': ''"><i
                                                        class="fas fa-check"></i>One lowercase character</li>
                                                <li [ngClass]="(specialCase==true) ? 'passed': ''"><i
                                                        class="fas fa-check"></i>One special character</li>
                                                <li [ngClass]="(upperCase==true) ? 'passed': ''"><i
                                                        class="fas fa-check"></i>One uppercase character</li>
                                                <li [ngClass]="(lengthCase==true) ? 'passed': ''"><i
                                                        class="fas fa-check"></i>8 characters minimum</li>
                                                <li [ngClass]="(numberCase==true) ? 'passed': ''"><i
                                                        class="fas fa-check"></i>One number</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" [(ngModel)]="reqData.confirm_password"
                                            [formControl]="complexForm.controls['confirm_password']"
                                            class="form-control" placeholder="Confirm Password" (keyup)="onKey($event)">
                                        <p style="color: #E80358" *ngIf="p_false">Please provide valid Confirm Password
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-center log_btn">
                                            <button class="btn btn_theme"
                                                [disabled]="!complexForm.valid || p_false || !lowerCase || !specialCase || !upperCase || !lengthCase || !numberCase"
                                                (click)="getOTP()">Get OTP</button>
                                            <!-- <a routerLink="/enterOTP" class="btn btn_theme">Get OTP</a> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer section -->
        <app-footer></app-footer>
        <!-- Footer section -->
    </div>
</div>