<header class="header_home header-main bg-light">
    <div class="custom_container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:;" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/about-us']" routerLinkActive="router-link-active" >About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="router-link-active" >Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav no_bars" *ngIf="!loginPermission">
                    <li class="nav-item spcl_rgt">
                        <a class="nav-link" routerLink="/login"><i class="fas fa-key"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link spcl_btn" routerLink="/signup"> Register </a>
                    </li>
                </ul>
                <ul class="navbar-nav no_bars">
                    <li class="nav-item spcl_rgt" *ngIf="loginPermission">
                        <a class="nav-link" routerLink="/myProfile"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                    </li>
                   
                </ul>
            </div>
        </nav>
    </div>
</header>