.mainside_wrap .page_head {
    background-color: #47679d !important;
    height: 41px !important;
  
}
.page_head h4{
    font-weight: bold;
    color: #ffffff !important;
    text-align: center !important;
    /* height: 52px; */
    font-size: 30px !important;
}

